<!DOCTYPE html>
<html lang="en">
<head>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <title>Welcome to my Stefan Perlic's text classification algorithm</title>

    </head>
</head>

<body>
<main class="container p-5">
    <div class="form-group">
        <p>So, basically, this is how this works</p>
        <p>In the field down below, you need to enter the headline of some newspaper article that you thinks belong to
            one of the next three categories: </p>
        <p><b>Sport</b></p>
        <p><b>Culture</b></p>
        <p><b>Politics</b></p>
        <p>When you click the 'Go!' button, algorithm will try to figure out which category the inputed text belongs
            in</p>
        <p>Here are some examples...</p>
        <p><b>Igrači Mančester Junajteda juče su proslavili pobedu protiv Liverpula</b></p>
        <p><b>U nedelju su održani izbori u Pećincima na kojima je stranka odnela ubedljivu pobedu.</b></p>
        <p><b>Naš poznati reditelj koji se proslavio predstavom Na Drini Ćuprija</b></p>

    </div>
    <form action="/classify" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="input_text" placeholder="Text" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Go!</button>
    </form>
    <div>
        <p>{{ result }}</p>
    </div>
</main>
</body>
</html>